@import "tailwindcss";

/* 🎨 Светлая тема */
:root {
  --background: #f7f7f8;
  --foreground: #1a1a1a;
  --surface: #ffffff;
  --border: #dddddd;

  --accent: #f2c94c;
  --accent-dark: #d6af44;

  --font-sans: var(--font-roboto);
}

/* 🌙 Тёмная тема */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #5b5b85;
    --foreground: #ececec;
    --surface: #1a1a1c;
    --border: #2c2c2f;

    --accent: #f2c94c;
    --accent-dark: #cda738;

    --font-sans: var(--font-roboto);
  }
}

/* БАЗОВЫЕ СТИЛИ */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Универсальная рамка */
.border-default {
  border-color: var(--border);
}
